<!--Main Footer Start-->
<footer class="wf100 main-footer">
    <div class="container">
        <div class="row">
            <!--Footer Widget Start-->
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget about-widget">
                    <img src="~/images/logoEKB_White.png" alt="">
                    <p> Неофициальный бранч футбольного клуба Manchester United в городе Екатеринбург. </p>
                    <address>
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i> Екатеринбург, Россия</li>
                            <li><i class="fas fa-phone"></i> +7 902 871-77-05</li>
                            <li><i class="fas fa-envelope"></i> <a href="https://vk.com/id115522323">Константин</a></li>
                        </ul>
                    </address>
                </div>
            </div>
            <!--Footer Widget End-->
        </div>
    </div>
    <div class="container brtop">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <p class="copyr"> Екатеринбург редс © 2013-@DateTime.Now.Year, Разработано: <a href="https://vk.com/kingzfate">Unnamed</a> </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul class="quick-links">
                    <li><a href="~/index">Главная</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--Main Footer End-->