<!--Header Start-->
        <header id="main-header" class="main-header">
            <!--topbar-->
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="topsocial">
                                <li><a href="https://vk.com/ekbreds" class="vk"><i class="fab fa-vk"></i></a></li>
                                <li><a href="https://www.instagram.com/ekaterinburg_reds/" class="insta"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://t.me/ekbredsmusc" class="tg"><i class="fab fa-telegram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="toplinks">
                                <li class="acctount-btn">
                                    <partial name="_LoginPartial" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--topbar end-->
            <!--Logo + Navbar Start-->
            <div class="logo-navbar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-5">
                            <div class="logo"><a href="index.html"><img src="~/images/logoEKB.png" alt=""></a></div>
                        </div>
                        <div class="col-md-10 col-sm-7">
                            <nav class="main-nav">
                                <ul>
                                    <li class="nav-item">
                                        <a asp-page="/~">Главная</a>
                                    </li>
                                    <li class="nav-item drop-down">
                                        <a href="">Matches</a>
                                        <ul>
                                            <li><a href="upcoming-match.html">Upcoming Match</a></li>
                                            <li><a href="match-resut-layout-1.html">Match Result One</a></li>
                                            <li><a href="match-resut-layout-2.html">Match Result Two</a></li>
                                            <li><a href="match-resut-layout-3.html">Match Result Three</a></li>
                                            <li><a href="match-details.html">Match Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item drop-down">
                                        <a href="">Players</a>
                                        <ul>
                                            <li><a href="team-one.html">Team One</a></li>
                                            <li><a href="team-two.html">Team Two</a></li>
                                            <li><a href="team-three.html">Team Three</a></li>
                                            <li><a href="team-four.html">Team Four</a></li>
                                            <li><a href="team-details.html">Team Details</a></li>
                                            <li><a href="staff-details.html">Staff Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item drop-down">
                                        <a href="">Fixtures</a>
                                        <ul>
                                            <li><a href="fixtures-layout-1.html">Fixtures One</a></li>
                                            <li><a href="fixtures-layout-2.html">Fixtures Two</a></li>

                                        </ul>
                                    </li>
                                    <li class="nav-item"> <a href="point-table.html">Point Table</a> </li>
                                    <li class="nav-item drop-down">
                                        <a href="">News</a>
                                        <ul>
                                            <li><a href="news-grid.html">News Grid</a></li>
                                            <li><a href="news-large.html">News Large</a></li>
                                            <li><a href="news-list.html">News List</a></li>
                                            <li><a href="news-details.html">News Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item drop-down">
                                        <a href="">Features</a>
                                        <ul>
                                            <li class="drop-down">
                                                <a href="#">Shop</a>
                                                <ul>
                                                    <li><a href="products-grid.html">Product Grid</a></li>
                                                    <li><a href="products-grid-two.html">Product Grid Two</a></li>
                                                    <li><a href="products-grid-three.html">Product Grid Three</a></li>
                                                    <li><a href="products-list.html">Product List</a></li>
                                                    <li><a href="shop-details.html">Shop Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="drop-down">
                                                <a href="#">Gallery</a>
                                                <ul>
                                                    <li><a href="gallery-2-col.html">Gallery Two Col</a></li>
                                                    <li><a href="gallery-3-col.html">Gallery Three Col</a></li>
                                                    <li><a href="gallery-clasic.html">Gallery Classic</a></li>
                                                    <li><a href="gallery-massonry.html">Gallery Massonry</a></li>
                                                    <li><a href="gallery-modern.html">Galery Modern</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="groups.html">Groups</a></li>
                                            <li><a href="page-404.html">Page 404</a></li>
                                            <li><a href="page-404-one.html">Page 404 Two</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item drop-down">
                                        <a href="">Contact</a>
                                        <ul>
                                            <li><a href="contact.html">Contact One</a></li>
                                            <li><a href="contact-two.html">Contact Two</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item buy-ticket"> <a href="#">Buy Tickets</a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--Logo + Navbar End-->
        </header>
        <!--Header End-->