<!--Header Start-->
<header id="main-header" class="main-header">
    <!--topbar-->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <ul class="topsocial">
                        <li><a href="https://vk.com/ekbreds" class="vk"><i class="fab fa-vk"></i></a></li>
                        <li><a href="https://www.instagram.com/ekaterinburg_reds/" class="insta"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://t.me/ekbredsmusc" class="tg"><i class="fab fa-telegram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6" style="position:inherit">
                    <ul class="toplinks">
                        <li class="acctount-btn">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--topbar end-->
    <!--Logo + Navbar Start-->
    <div class="logo-navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-5">
                    <div class="logo"><a href="~/index"><img src="~/images/logoEKB.png" alt=""></a></div>
                </div>
                <div class="col-md-10 col-sm-7">
                    <nav class="main-nav">
                        <ul>
                            <li class="nav-item">
                                <a href="~/index">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Points">Очки</a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Tipsters">Прогнозисты</a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Achievements">Достижения</a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Rules">Правила</a>
                            </li>
                            <li class="nav-item">
                                <a href="~/About">О нас</a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Contacts">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Logo + Navbar End-->
</header>
<!--Header End-->