<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <partial name="_CssPartial" />

    <!--Rev Slider End-->
    <title>Ekaterinburg Reds | @ViewBag.Title</title>
</head>
<body>
    <!--Wrapper Start-->
    <div class="wrapper">
        <partial name="_Header" />
        @RenderBody()
        <partial name="_Footer" />
    </div>
    <!--Wrapper End-->
    <partial name="_JsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>