@using Microsoft.AspNetCore.Identity
@using ApplicationCore.Entities.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav d-inline-block">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <!--Кнопка-->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            Привет @User.Identity?.Name !
          </a>
          <!--Кнопка-->
          <!--Меню-->
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              @if (User.IsInRole("Admin"))
                {
                    <li><a class="dropdown-item" asp-page="/Admin/Roles">Роли</a></li>
                    <li><a class="dropdown-item" asp-page="/Admin/Users">Пользователи</a></li>
                    <li><hr class="dropdown-divider" /></li>
                }
              <li><a class="dropdown-item" href="#">Какая то кнопка</a></li>
              <li><a class="dropdown-item" href="#">Какая то кнопка</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" asp-page="/Account/Logout">Выйти</a></li>
          </ul>
          <!--Меню-->
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Войти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">|</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
}
</ul>