@using Microsoft.AspNetCore.Identity
@using ApplicationCore.Entities.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="toplinks">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="acctount-btn">
            <a href="#">
                Привет @User.Identity?.Name !
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
    }
</ul>