@model IEnumerable<TopUsers>
@using Web.Models
@{
    int userCount = 1;
}
<div class="col-lg-4">
    <div class="point-table-widget">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                    <th>Очки</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TopUsers point in Model)
                {
                    <tr>
                        <td>@(userCount++)</td>
                        <td><img src="images/tl-logo1.png" alt=""> <strong>@point.FIO</strong></td>
                        <td><strong>@point.Point</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>