@page
@model Web.Pages.Admin.EditUserModel
@{
}
<div  style="height: 300px;width:100%; padding: 140px 0 300px 0">
    <img style="height: 300px; width:100%" src="/images/innerbanner.jpg" />
</div>
<div class="container" style="padding:30px 0 20px 0">
    <div class="row">
        <div class="col-md-12">
            <h2>Редактирование пользователя</h2>
            <form method="post">
                <hr />
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" readonly="readonly"/>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewUserName"></label>
                    <input asp-for="Input.NewUserName" class="form-control" placeholder="Новое имя пользователя"/>
                    <span asp-validation-for="Input.NewUserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Новый Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                @*Первый вариант чекбокса
                @Html.EditorFor(x => x.Input.EmailConfirmed)*@

                @*Второй вариант чекбокса*@
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.EmailConfirmed">
                        <input asp-for="Input.EmailConfirmed" />
                        @Html.DisplayNameFor(m => m.Input.EmailConfirmed)
                        </label>
                    </div>
                </div>
                <br />
                    <div class="form-group float-end">
                        <button type="submit" asp-page-handler="EditUser" class="btn btn-success">Сохранить</button>
                    </div>
            </form>
        </div>
    </div>
</div>