@page
@model Web.Pages.AboutModel
@{
    ViewBag.Title = "О нас";
}
<!--Main Slider Start-->
<div class="inner-banner-header wf100">
    <h1 data-generated="@ViewBag.Title">@ViewBag.Title</h1>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content innerpagebg wf100 p80">
    <!--News Large Page Start-->
    <!--Start-->
    <div class="news-details">
        <div class="container">
            <div class="row">
                <!--News Start-->
                <div class="col-lg-12">
                    <div class="news-details-wrap">
                        <div class="news-large-post">
                            <div class="post-thumb"> <img src="~/images/about/main.jpg" alt=""></div>
                            <div class="post-txt">
                                <h3>Ekaterinburg Reds Supporters Club</h3>
                                <p>
                                    Ekaterinburg Reds  - самый многочисленный бранч на территории Урала, базирующийся в уральской столице - городе Екатеринбурге.
                                    Создание бранча уходит корнями в 2013 год, финальный год работы главного тренера клуба и легендарного тренера в истории мирового футбола сэра Алекса Фергюсона.
                                    Наша главная миссия – объединить под общей эгидой всех, кто любит и  поддерживает  клуб Манчестер Юнайтед.
                                </p>
                                <blockquote>
                                    <p>
                                        «Если ты смотришь английский футбол – хорошо.
                                        Если ты в курсе великой истории клуба Манчестер Юнайтед – отлично.
                                        Если ты поддерживаешь Манчестер Юнайтед, смотришь матчи и болеешь за этот клуб, - ты наш человек.
                                        А если ты живешь на Урале и имеешь возможность приезжать в Екатеринбург и смотреть матчи с нами – значит, ты уже член нашего сообщества»
                                    </p>
                                </blockquote>
                                <p>Осталось только заявить о себе: вступи в паблик <a href="https://vk.com/ekbreds">EKB Reds</a> и отслеживай наши новости.</p>

                                <p>
                                    Мы ввели программу участия: максимально лояльную, чтобы любой участник смог принять посильное участие в развитии бранча – своим присутствием, общением, обменом идеями, и возможностью финансово помочь в реализации программы развития бранча.
                                    Чтобы ты мог почувствовать себя частью нашей семьи, ты можешь получить футболку, поло или другие вещи из нашей мерч-коллекции.
                                    А подробнее о программе бранча и как получить мерч с хорошей скидкой ты можешь узнать здесь: <a href="https://vk.com/ekbreds?w=wall-57356144_8050%2Fall">EKB Reds</a>
                                </p>
                                <p>
                                    RedsBets
                                    Также в течение сезона ты можешь проверять свое футбольное чутье и прогнозировать результаты матчей Манчестер Юнайтед, участвуя в Reds Bets.
                                    Это легко: напиши <a href="https://vk.com/kingzfate">Никите</a>, что хочешь участвовать в RedsBets. зарегистрируйся на сайте в пару кликов.
                                    Пиши прогноз на счет матча, и увидишь, что принесет тебе баллы: точный счет, победа одной команды, ничья или преимущество в счете. Разные угадывания дают разные баллы в общей гонке – смотри правила
                                </p>
                                <h1 style="color:red"> WE ARE UNITED!!! </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News End-->
            </div>
        </div>
    </div>
    <!--End-->
</div>
<!--Main Content End--> 