@page
@model Web.Pages.AboutModel
@{
    ViewBag.Title = "О нас";
}
<!--Main Slider Start-->
<div class="inner-banner-header wf100">
    <h1 data-generated="@ViewBag.Title">@ViewBag.Title</h1>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content innerpagebg wf100 p80">
    <!--News Large Page Start-->
    <!--Start-->
    <div class="news-details">
        <div class="container">
            <div class="row">
                <!--News Start-->
                <div class="col-lg-12">
                    <div class="news-details-wrap">
                        <div class="news-large-post">
                            <div class="post-thumb"> <img src="~/images/about/main.jpg" alt=""></div>
                            <div class="post-txt">
                                <h3>Ekaterinburg Reds Supporters Club</h3>
                                <p> Сообщество фанатов «Манчестер Юнайтед» на территории Екатеринбурга</p>
                                @*<p>Proin cursus commodo odio dignissim sollicitudin. Donec porta mi ut justo efficitur urna gravida. Integer in molestie ante, et feugiat erat. Praesent a rutrum nulla vitae conseqt turpis. Phasellus elementum massa non justo volutpat consequat. Cras vulputate et leo in scelerisque. </p>
                                <blockquote>
                                <p>wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
                                </blockquote>
                                <p> Maecenas porta dui sit amet libero bibendum pellentesque. Pellentesque ac lorem diam. Quisque in commodo nibh, et varius magna. Pellentesque congue eros ac justo suscipit congue. Praesent non sagittis est. Nam vehicula erat mollis libero accumsan blandit. Sed quam neque, condimentum at ultricies et, faucibus consequat orci. </p>
                                <h4>Donec tempor tristique velit ut consequat nceu.</h4>
                                <p> Mauris rutrum sit amet mauris at sodales. Vivamus laoreet tempus purus molestie. Aenean fringilla est ac egestas dapibus. Donec ut iaculis ipsum, elementum molestie metus. Donec pharetra non eros quis rhoncus. Vivamus ex ligula, auctor eu feugiat elementum.</p>
                                <ul class="checklist">
                                <li><i class="fas fa-check"></i> Aliquam eget tellus sed dolor accumsan imperdiet. </li>
                                <li><i class="fas fa-check"></i> Nunc interdum arcu vel massa faucibus imperdiet. </li>
                                <li><i class="fas fa-check"></i> Vestibulum sollicitudin odio nec faucibus venenatis. </li>
                                <li><i class="fas fa-check"></i> Etiam iaculis nunc et iaculis sodales. </li>
                                </ul>
                                <ul class="small-gallery">
                                <li><img src="images/ndimg1.jpg" alt=""></li>
                                <li><img src="images/ndimg2.jpg" alt=""></li>
                                <li><img src="images/ndimg3.jpg" alt=""></li>
                                </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!--News End-->
            </div>
        </div>
    </div>
    <!--End-->
</div>
<!--Main Content End--> 