@page
@model Web.Pages.AboutModel
@{
    ViewBag.Title = "О нас";
}
<!--Main Slider Start-->
<div class="inner-banner-header wf100">
    <h1 data-generated="@ViewBag.Title">@ViewBag.Title</h1>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content innerpagebg wf100 p80">
    <!--News Large Page Start-->
    <!--Start-->
    <div class="news-details">
        <div class="container">
            <div class="row">
                <!--News Start-->
                <div class="col-lg-12">
                    <div class="news-details-wrap">
                        <div class="news-large-post">
                            <div class="post-thumb"> <img src="~/images/about/main.jpg" alt=""></div>
                            <div class="post-txt">
                                <h3>Ekaterinburg Reds Supporters Club</h3>
                                <p> Сообщество фанатов «Манчестер Юнайтед» на территории Екатеринбурга</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News End-->
            </div>
        </div>
    </div>
    <!--End-->
</div>
<!--Main Content End--> 