@page
@model Web.Pages.ContactsModel
@{
    ViewBag.Title = "Контакты";
}

<!--Main Slider Start-->
<div class="inner-banner-header wf100">
    <h1 data-generated="@ViewBag.Title">@ViewBag.Title</h1>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content p80 innerpagebg wf100">
    <!--Contact Page Start-->
    <div class="contact-two">
        <div class="container">
            <div class="row mb-80">
                <!--Start-->
                <div class="col-md-4">
                    <div class="contact-box">
                        <img src="images/loc-icon.png" alt="">
                        <h5>Адрес:</h5>
                        <p>
                            Свердловская область, Екатеринбург,
                            Сурикова 53, Россия
                        </p>
                    </div>
                </div>
                <!--End-->
                <!--Start-->
                <div class="col-md-4">
                    <div class="contact-box">
                        <img src="images/phone-icon.png" alt="">
                        <h5>Контакт:</h5>
                        <p><strong>Телефон:</strong> +7 902 871-77-05 (Константин)</p>
                    </div>
                </div>
                <!--End-->
                <!--Start-->
                <div class="col-md-4">
                    <div class="contact-box">
                        <img src="images/mail-icon.png" alt="">
                        <h5>Больше информации:</h5>
                        <p> <strong>VK:</strong> <a href="https://vk.com/id115522323">Константин</a></p>
                    </div>
                </div>
                <!--End-->
            </div>
        </div>
    </div>
    <!--Contact Page End-->
    <div class="google-map">
        <div class="google-map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad204d193f63fb52fba7f3421669a1c38534843131058f11c640131cba4e9c2ab&amp;source=constructor" width="1280" height="720" frameborder="0"></iframe>
        </div>
    </div>
</div>
<!--Main Content End--> 