@page
@model IndexModel
@{
    ViewBag.Title = "Reds Bets";
}

<partial name="_Slider">
    <!--Main Content Start-->
    <div class="main-content wf100">
        <partial name="_SlideTabs" model="Model.PreviousMatches">
            <!--Sports Widgets Start-->
            <section class="wf100 p80">
                <div class="container">
                    <div class="row">
                        <partial name="_NextMatch" model="Model.NextMatch">
                            <partial name="_AfterNextMatch" model="Model.FutureMatches">
                                <partial name="_TablePoints" model="Model.PointTable">
                    </div>
                </div>
            </section>
            <!--Sports Widgets End-->
            <!--Team Squad Start-->
            <section class="team-squad wf100 p80-50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title white">
                                <h2>Состав Ekaterinburg Reds</h2>
                                <a class="full-team" href="#">Full Team Squad</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (User user in Model.EkbRedsUsers)
                        {
                            <!--Player Box Start-->
                            <div class="col-md-6">
                                <div class="player-box">
                                    <div class="player-thumb"><img src="images/player1.png" alt=""></div>
                                    <div class="player-txt">
                                        <span class="star-tag"><i class="fas fa-star"></i></span>
                                        <h3>@(user.SurName + " " + user.FirstName)</h3>
                                        <strong class="player-desi">League Captain</strong>
                                        <p> Hi, I am Gerrysson Ramsy the team captain of the soccer club. </p>
                                        <ul>
                                            <li>29 <span>Age</span></li>
                                            <li>87 <span>matches</span></li>
                                            <li>113 <span>Goals</span></li>
                                            <li>87 <span>matches</span></li>
                                        </ul>
                                        <a class="playerbio" href="#">Player Biography <i class="far fa-arrow-alt-circle-right"></i></a> <a href="#" class="follow">Follow</a>
                                    </div>
                                </div>
                            </div>
                            <!--Player Box End-->
                        }
                    </div>
                </div>
            </section>
            <!--Team Squad End-->
    </div>
    <!--Main Content End-->
    @section Scripts
        {
        <script>
            // ------- countdown ------- //
            if ($('.defaultCountdown').length) {
                austDay = new Date(@Model.NextMatch.PredictionEndDate.AddHours(1).AddMonths(-1).ToString("yyyy,MM,dd,HH,mm,ss"));
                $('.defaultCountdown').countdown({
                    until: austDay,
                    onExpiry: function() {
                        hidePrediction();
                    }
                });
                $('#year').text(austDay.getFullYear());
            }

            /**
            * Скрыть проставление прогнозов
            */
            function hidePrediction() {
                $('#makePrediction').hide();
                $('#homePredict').prop("readonly", true);
                $('#awayPredict').prop("readonly", true);
            }
        </script>
    }
