@page
@model Web.Pages.RulesModel
@{
    ViewBag.Title = "Правила";
}

<!--Main Slider Start-->
<div class="inner-banner-header wf100">
    <h1 data-generated="@ViewBag.Title">@ViewBag.Title</h1>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content innerpagebg wf100 p80">
    <!--News Large Page Start-->
    <!--Start-->
    <div class="news-details">
        <div class="container">
            <div class="row">
                <!--News Start-->
                <div class="col-lg-12">
                    <div class="news-details-wrap">
                        <div class="news-large-post">
                            <div class="post-thumb"> <img src="~/images/redsbets/main.jpg" alt=""></div>
                            <div class="post-txt">
                                <h3>Правила участия в Reds Bets</h3>
                                <p>Reds Bets это локальная игра прогнозистов среди болельщиков клуба Manchester United в Екатеринбурге<p>
                                <p>Для участия в конкурсе прогнозистов, необходимо внести ежесезонный взнос через нашего бухгалтера <a href="https://vk.com/id129125190">Михаила</a> и уведомить администратора сайта <a href="https://vk.com/kingzfate">Никиту</a></p>

                                <h3>Основные правила игры:</h3>
                                <p>Ваша цель, угадать как можно точный счёт следующего матча. За 2 часа до начала матча прием прогнозов прекращается!</p>
                                <p>Система начисления очков выглядит следующим образом:</p>
                                <blockquote>
                                    <p>5 очков – точно угаданный счет и исход матча</p>
                                    <p>Пример:</p>
                                    <p>Прогноз: Юнайтед 2:1 Лестер</p>
                                    <p>Итоговый счёт матча: Юнайтед 2:1 Лестер</p>
                                </blockquote>
                                <blockquote>
                                    <p>3 очка – верно спрогнозированный исход и разница мячей или ничья</p>
                                    <p>Пример:</p>
                                    <p>Прогноз: Юнайтед 1:0 (3:2, 4:3 и т.д.) Лестер</p>
                                    <p>Итоговый счёт матча: Юнайтед 2:1 Лестер</p>
                                </blockquote>
                                <blockquote>
                                    <p>3 очка – угаданный исход матча = ничья</p>
                                    <p>Пример:</p>
                                    <p>Прогноз: Юнайтед 1:1 (2:2, 3:3 и т.д.) Лестер</p>
                                    <p>Итоговый счёт матча: Юнайтед 0:0 (2:2, 4:4 и т.д.) Лестер</p>
                                </blockquote>
                                <blockquote>
                                    <p>2 очка – правильный исход матча, победа той или иной команды</p>
                                    <p>Пример:</p>
                                    <p>Прогноз: Юнайтед 2:0 (3:0, 3:1 и т.д.) Лестер</p>
                                    <p>Итоговый счёт матча: Юнайтед 2:1 Лестер</p>
                                </blockquote>
                                <blockquote>
                                    <p>1 очко – правильно угаданное количество голов Юнайтед</p>
                                    <p>Пример:</p>
                                    <p>Прогноз: Юнайтед 2:2 (2:3, 2:4 и т.д.) Лестер</p>
                                    <p>Итоговый счёт матча: Юнайтед 2:4 (2:1, 2:10) Лестер</p>
                                </blockquote>
                                <p>Победителем становится участник, который набрал наибольшее количество очков в текущем месяце. В случае, если по итогам месяца несколько участников имеют одинаковое количествово очков, распределение мест будет выглядеть следующим образом:</p>
                                <ul class="checklist">
                                    <li> 1) Количество точно угаданных счетов</li>
                                    <li> 2) Количество угаданных исходов с разницей мячей</li>
                                    <li> 3) Наименьшее время, которое потребовалось участнику чтобы внести свои прогнозы на угаданные счета (считается с момента появления матча в списке или его последующего обновления) </li>
                                </ul>
                                <p>По итогам сезона, в случае если у нескольких участников будет одинаковое количество очков, приоритетом будет считаться наибольшее количество угаданных счетов и так далее по убыванию</p>
                                <p>В конце каждого месяца лучший прогнозист нашей группы получит памятный сувенир от администрации или любой другой приз указанный в предсезонном посте в группе Вконтакте.</p>
                                <p>В конце сезона тройка лучших получит ценные призы. Победитель получает  официальное членство в Манчестер Юнайтед!</p>
                                <p>Удачи и помните</p>
                                <h1 style="color:red"> WE ARE UNITED!!! </h1>

                            </div>
                        </div>
                    </div>
                </div>
                <!--News End-->
            </div>
        </div>
    </div>
    <!--End-->
</div>
<!--Main Content End--> 